.pnpm-store

# deps
node_modules/

# next
.next/
out/

# env
.env
.env.*

# logs
*.log

# build artifacts
dist/
build/
coverage/

# TS build artifacts
*.tsbuildinfo

# don't commit compiled outputs inside src
packages/shared/src/**/*.js
packages/shared/src/**/*.d.ts
packages/shared/src/**/*.map
